<!-- First Blog Post -->
<% @blogs.each do |blog| %>
    <h2>
      <%= link_to blog.title,  blog_path(blog) %>
    </h2>

    <div>
      <%= blog.content.to_s.truncate(200)%>
    </div>
    <br/>
    <p class="grey"><%= image_tag 'self.jpeg', alt: 'heyen', class: 'author-thumb' %><i class="fa fa-clock-o"></i> <%= blog.created_at.strftime(' %B %-d, %Y') %> </p>
    <hr/>
<% end %>


<!-- Pager -->
<ul class="pager">
  <li class="previous">
    <%= link_to_previous_page @blogs, h("<<PRE"), :remote => true %>
  </li>
  <li class="next">
    <%= link_to_next_page @blogs, h("NEXT>>"), :remote => true %>
  </li>
</ul>