<!-- Blog Entries Column -->
<div class="col-md-8" >

  <h3>联系方式</h3>
  <p><i class="fa fa-phone"></i>
    <abbr title="Phone">P</abbr>: 135****5936</p>
  <p><i class="fa fa-envelope-o"></i>
    <abbr title="Email">E</abbr>: <a href="mailto:645054538@qq.com">645054538@qq.com</a> / <a href="mailto:zxyheyen@gmail.com">zxyheyen@gmail.com</a>
  </p>
  <p><i class="fa fa-clock-o"></i>
    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 6:00 PM</p>
  <ul class="list-unstyled list-inline list-social-icons">
    <li>
      <a href="#"data-toggle="modal"><i class="fa fa-wechat fa-2x"></i></a>
    </li>
    <li>
      <a href="http://sighttp.qq.com/msgrd?v=1&uin=645054538" target="view_window"><i class="fa fa-qq fa-2x"></i></a>
    </li>
  </ul>

  <h3>给我留言</h3>
  <%= form_for @contact, url: send_message_blogs_path, id: 'contactForm'  do |f| %>
    <div class="control-group form-group">
      <div class="controls">
        <label>姓名:</label>
        <%= f.text_field :name, class: "form-control" %>
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>号码:</label>
        <%= f.text_field :tel, class: "form-control" %>
      </div>
    </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>邮箱:</label>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>内容:</label>
        <%= f.text_area :message, class: "form-control", maxlength: "999", style: "resize:none", id: "message", rows: "10", cols: "100"%>
      </div>
    </div>
    <div id="success"></div>
    <!-- For success/fail messages -->
      <%= f.submit '发送', class: 'btn btn-primary'%>
  <% end %>

</div>











