<div class="col-md-3">
  <div class="list-group">
    <%= link_to '博客', admins_blogs_path, class: "list-group-item #{side_style 'admins/blogs', params}" %>
    <%= link_to '分类', admins_categories_path, class: "list-group-item #{side_style 'admins/categories', params}" %>
    <%= link_to '标签', admins_tags_path, class: "list-group-item #{side_style 'admins/tags', params}" %>
    <%= link_to '联系', admins_contacts_path, class: "list-group-item #{side_style 'admins/contacts', params}" %>
    <%= link_to '聚会人员', admins_class_mates_path, class: "list-group-item #{side_style 'admins/class_mates', params}" %>
  </div>
</div>