<!-- Blog Search Well -->
<%= form_tag blogs_path, id: 'search_form' do %>
<div class="well">
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: 'form-control'  %>
     <span class="input-group-btn">
      <button class="btn btn-default" type="commit"><i class="fa fa-search"></i></button>
     </span>
  </div>

  <!-- /.input-group -->
</div>

<!-- Blog Categories Well -->
<div class="well">
  <h4>分类</h4>
  <div class="row">
    <!-- /.col-lg-6 -->
    <% Category.all.in_groups(2) do |categories| %>
        <div class="col-lg-6">
          <ul class="list-unstyled category">
            <% categories.each do |category| %>
                <% if category.present? %>
                <li><a href="javascript:void(0);" id="<%= category.id %>"><%= category.name %></a>
                <% end %>
            <% end %>

            </li>
          </ul>
        </div>
    <% end %>

  </div>
  <!-- /.row -->
</div>
    <%= hidden_field_tag :category, params[:category] %>
<% end %>

<!-- Side Widget Well -->
<div class="well">
  <h4>常用网站</h4>
  <ul class="list-group" style="text-align: center;">
    <li class="list-group-item"><a href="http://github.com" target="_blank" rel="nofollow"><%= image_tag 'github.png', style: 'width:150px;' %></a></li>
    <li class="list-group-item"><a href="http://stackoverflow.com/" target="_blank" rel="nofollow"><%= image_tag 'stackoverflow.png', style: 'width:150px;' %></a></li>
    <li class="list-group-item"><a href="http://ruby-china.org" target="_blank" rel="nofollow"><%= image_tag 'ruby_china.jpeg', style: 'width:150px;' %></a></li>
    <li class="list-group-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><%= image_tag 'segmentfault.png', style: 'width:150px;' %></a></li>
    <li class="list-group-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><%= image_tag 'rails-guides.png', style: 'width:150px;' %></a></li>

  </ul>
</div>
<script>
  $(
      $(".category li a").on('click', function(){
        $('#category').val($(this).attr('id'));
        $("#search_form").submit();
      })
  );

</script>